<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LolDatabaseProject</display-name>
 <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>champion.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>api</param-value>
    </init-param>
	<init-param>
		<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		<param-value>true</param-value>
	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>api.LoginServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginAction</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LogOutServlet</servlet-name>
  	<servlet-class>api.LogOutServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>LogOutServlet</servlet-name>
  	<url-pattern>/logOutAction</url-pattern>
  </servlet-mapping>
 
  
</web-app>